.idea
docker-compose.env.local
data/stdiscosrv/*
!data/stdiscosrv/.gitkeep
config/stdiscosrv/*
!config/stdiscosrv/.gitkeep
config/strelaysrv/*
!config/strelaysrv/.gitkeep
config/syncthing/*
!config/syncthing/.gitkeep
data/syncthing/*
!data/syncthing/.gitkeep
test
